
.App {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.App-header {
  height: 60vh;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 15vmax);
  color: whitesmoke;
  background-color: transparent;
}

.Header-box {
  background-image: url("/src/img/placeholder.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: table;
  background-color: transparent;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}


.App-link {
  color: #61dafb;
}