
.App {
  text-align: center;
}

.App-header {
  font-size: calc(10px + 7vmax);
  color: whitesmoke;
  background-color: transparent;
}

p {
  color: whitesmoke;
  background-color: transparent;
  font-size: calc(10px + vmax)
}

.Content-box {
  width: 80vw;
  height: 80vh;
  background-color: rgba(255, 255, 255, 0.11);
  margin-top: 10vh;
  margin-left: 10vw;
}
.Header-box {
  background-image: url("/src/img/placeholder.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
}


.App-link {
  color: #61dafb;
}