
.App {
  text-align: center;
}

.App-header {
  min-height: 100vmax;
  min-width: 100vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 50vmin);
  color: whitesmoke;
  background-image: url("/src/img/placeholder.jpg");
  background-size: 100vmax;
}

.App-link {
  color: #61dafb;
}